
    <h2>Contact</h2>
    
    <TABLE WIDTH="100%" BORDER="0" CELLPADDING="2" CELLSPACING="0">	
	<TR VALIGN=TOP align="left">
		<TD WIDTH="30%">
			<P><B>Pensiunea Julia</B></P>
		</TD>
		<TD WIDTH="100%">
			<P><a href="/map">Str. C&icirc;nepii 4</a></P>
			<P>Sighi&#351;oara 545400 RO</P>
		</TD>
	</TR>
	<TR VALIGN=TOP align="left">
		<TD WIDTH="30%">
			<P><B>Persoana de contact</B></P>
		</TD>
		<TD WIDTH="100%">
			<P>Dali Attila</P>
		</TD>
	</TR>
	<TR VALIGN=TOP align="left">
		<TD WIDTH="30%">
			<P><B>Telefon</B></P>
		</TD>
		<TD WIDTH="100%">
			<P>+40265 779 027</P>
			<P>+40265 774 062</P>
		</TD>
	</TR>
	<TR VALIGN=TOP align="left">
		<TD WIDTH="30%">
			<P><B>Fax</B></P>
		</TD>
		<TD WIDTH="100%">
			<P>+40365 815 138 
			</P>
		</TD>
	</TR>
	<TR VALIGN=TOP align="left">
		<TD WIDTH="30%">
			<P><B>Mobil</B></P>
		</TD>
		<TD WIDTH="100%">
			<P>+40766 650 377</P>
		</TD>
	</TR>
	<TR VALIGN=TOP align="left">
		<TD WIDTH="30%">
			<P><B>Email</B></P>
		</TD>
		<TD WIDTH="100%">
			<P><IMG SRC="images/email_ro.jpg" NAME="graphics1" ALIGN=LEFT WIDTH=300 HEIGHT=20 BORDER=0><BR CLEAR=LEFT>
                        <IMG SRC="images/email_hu.jpg" NAME="graphics2" ALIGN=LEFT WIDTH=300 HEIGHT=20 BORDER=0><BR CLEAR=LEFT><BR>
			</P>
		</TD>
	</TR>
</TABLE>    
