<h1 style="color: red;">Casa Lunca este de vanzare</h1><p>De pensiunea Julia apartine &#351;i casa Lunca. Aceasta se afl&#259; pe un deal vis-a-vis de cetate &#351;i are o panoram&#259; superb&#259;.</p>

    <table border="0" cellpadding="20">
        <tr>
            <td>
                
                    <img src="images/lunca/lunca_1_1.jpg" width="150" height="113"/> 
                
            </td>
            <td>
                
                    <img src="images/lunca/lunca_1_2.jpg" width="150" height="113"/> 
                
            </td>
            <td>
                
                    <img src="images/lunca/lunca_1_3.jpg" width="150" height="113"/> 
                
            </td>
        </tr>
        <tr>
            <td>
                
                    <img src="images/lunca/lunca_2_1.jpg" width="150" height="113"/> 
                
            </td>
            <td>
                
                    <img src="images/lunca/lunca_2_2.jpg" width="150" height="113"/> 
                
            </td>
            <td>
                
                    <img src="images/lunca/lunca_2_3.jpg" width="150" height="113"/> 
                
            </td>
        </tr>
    </table>
   
