
 
   


    <table border="0" cellpadding="0" cellspacing="0">
		<tr>
			<td>
				<ul id="menu">
					<li>
						<a href="/">:: HOME</a>
					</li>
					<li>
						<a href="/gallery">:: POZE</a>
					</li>
					<li>
						<a href="/weather">:: VREMEA</a>
					</li>
					<li>
						<a href="/map">:: HARTA</a>
					</li>
					<li>
						<a href="/contact">:: CONTACT</a>
					</li>
					<li>
						<a href="/prices">:: PRETURI</a>
					</li>
					<li>
						<a href="/reservation">:: REZERVARI</a>
					</li>
					<li class="highlight">
						<a href="/lunca">:: CASA LUNCA</a>
					</li>
                    <!--
					<li class="highlight">
						<a href="/saguna">:: AP. SAGUNA</a>
					</li>
                    -->
				</ul>
			</td>			
		</tr>     
		<!--
        <tr bgcolor="#D3DFCB">
            <td height="200" valign="bottom" align="center">
                
                <a href="locale_choice.jsp?locale=ro-RO"><img src="images/ro_flag.jpg" alt="Româneste"></img></a>
                
                <a href="locale_choice.jsp?locale=hu-HU"><img src="images/hu_flag.jpg" alt="Magyarul"></img></a>
               
                <a href="locale_choice.jsp?locale=en-US"><img src="images/uk_flag.jpg" alt="English"></img></a>
                
                <a href="locale_choice.jsp?locale=de-DE"><img src="images/de_flag.jpg" alt="Deutsch"></img></a>
            </td>
        </tr>
       -->
        <tr >
            <td height="36" valign="bottom">
                <!-- AddThis Button BEGIN -->
                <script type="text/javascript">addthis_pub  = 'lorserker';</script>
                <a href="http://www.addthis.com/bookmark.php" onmouseover="return addthis_open(this, '', '[URL]', '[TITLE]')" onmouseout="addthis_close()" onclick="return addthis_sendto()"><img src="http://s9.addthis.com/button1-bm.gif" width="125" height="16" border="0" alt="" /></a><script type="text/javascript" src="http://s7.addthis.com/js/152/addthis_widget.js"></script>
                <!-- AddThis Button END -->
            </td>
        </tr>
        <tr>
            <td>
                <br />
                <br />
                <!-- Turistinfo.ro v.1.0.0 -->
<style type="text/css">a.tilink:link, a.tilink:active, a.tilink:visited { color: #000066; font-size: 12px;  text-decoration: none; font-family:Verdana, Arial, Helvetica, sans-serif; }</style>
<table border="0" cellspacing="3" cellpadding="0">
<tr><td width="100%" align="center"><a href="http://www.turistinfo.ro/" target="_blank" title="Hoteluri si pensiuni in Romania"><img src="http://www.turistinfo.ro/images/turistinfo/cazare_pensiuni.gif" alt="Cazare hoteluri pensiuni" border="0" width="85" height="85"></a></td></tr>
<tr><td width="100%" align="center"><a class="tilink" href="http://www.turistinfo.ro/sighisoara/cazare-hoteluri-vile-pensiuni-sighisoara.html" target="_blank" title="Hoteluri si pensiuni in Sighisoara">Cazare Sighisoara</a></td></tr>
</table>
<!-- Turistinfo.ro v.1.0.0 -->
            </td>
        </tr>
    </table>
