<!DOCTYPE html>

<HTML>
<HEAD>
<meta name="Description" content="Pensiunea Julia *** se afla în Sighişoara, la 1 km distanţă de cetate, într-un loc liniştit şi plin de verdeaţă">
<meta name="KeyWords" content="cazare, Sighisoara, pensiune, vila, cabana, turism, ieftin, ieftina, transilvania, medieval, medievala, vacanta, odihna, accomodation, guest house, hotel, room, hostel, motel, lodging, vacation, holiday, szallas, szoba, panzio, segesvar, var, olcso, unterkunft, herberge, gaststatte, schassburg, zimmer">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<TITLE>Pensiunea Julia Sighisoara</TITLE>
</HEAD>
<link href="css/styles.css" rel="stylesheet" type="text/css">
<link href="css/menu.css" rel="stylesheet" type="text/css">
<BODY BGCOLOR=#FFFFFF LEFTMARGIN=0 TOPMARGIN=0 MARGINWIDTH=0 MARGINHEIGHT=0 ONLOAD="preloadImages();">
    <center>

{% include "header.html" %}

<table border="0" WIDTH="782" cellspacing="0" cellpadding="0">       
        <tr>
            <td height="100%" width="25%" valign="top" align="left">
               {% include "menu.html" %}
            </td>
            <td height="100%" width="100%" valign="top" align="left">
                <h2>Preturi</h2>
                <p>80 - 110 <a href="http://www.xe.com/ucc/" target="_blank">RON</a> camera dubla pe noapte</p>
                <!--<p>95 <a href="http://www.xe.com/ucc/" target="_blank">RON</a> <%= bundle.getString("price_reducere") %></p>-->
				
				<!--<p><b>OFERTA DE REVELION : PACHET MINIM  4 ZILE  250LEI/CAM/ZI, TOATA CASA=5000 LEI</b> </p>-->
            </td>
        </tr>    
</table>



</center></BODY>