<h2>Apartamentul Saguna</h2><p>Apartamentul Saguna este un apartament cu 3 camere, bucatarie si baie. El se afla in centrul orasului si are 5 locuri de cazare.</p>

    <table border="0" cellpadding="20">
        <tr>
            <td>
                
                    <img src="images/saguna/saguna_1_1.jpg" width="150" height="113"/> 
                
            </td>
            <td>
                
                    <img src="images/saguna/saguna_1_2.jpg" width="150" height="113"/> 
                
            </td>
            <td>
                
                    <img src="images/saguna/saguna_1_3.jpg" width="150" height="113"/> 
                
            </td>
        </tr>
        <tr>
            <td>
                
                    <img src="images/saguna/saguna_2_1.jpg" width="150" height="113"/> 
                
            </td>
            <td>
                
                    <img src="images/saguna/saguna_2_2.jpg" width="150" height="113"/> 
                
            </td>
            <td>
                
                    <img src="images/saguna/saguna_2_3.jpg" width="150" height="113"/> 
                
            </td>
        </tr>
    </table>
    
