<div style='width: 500px; height: 440px; background-image: url( http://vortex.accuweather.com/adcbin/netweather_v2/backgrounds/spring1_500x440_bg.jpg ); background-repeat: no-repeat; background-color: #607041;' >
<div style='height: 420px;' ><script src='http://netweather.accuweather.com/adcbin/netweather_v2/netweatherV2.asp?partner=netweather&tStyle=normal&logo=1&zipcode=EUR|RO|RO028|SIGHISOARA|&lang=uke&size=13&theme=&metric=1&target=_self'>
</script>
</div>
<div style='text-align: center; font-family: arial, helvetica, verdana, sans-serif; font-size: 12px; line-height: 20px; color: FDEA11;' >
<a style='color: #FDEA11' href='http://www.accuweather.com/index-forecast.asp?partner=netweather&traveler=0&zipcode=EUR|RO|RO028|SIGHISOARA|' >
Weather Forecast
</a> | 
<a style='color: #FDEA11' href='http://www.accuweather.com/maps-satellite.asp?partner=netweather' >
Weather Maps
</a> | 
<a style='color: #FDEA11' href='http://www.accuweather.com/index-radar.asp?partner=netweather&traveler=0&zipcode=EUR|RO|RO028|SIGHISOARA|' >
Weather Radar</a> | 
<a style='color: #FDEA11' href='http://hurricane.accuweather.com/hurricane/index.asp' >Hurricane Center</a></div></div>
